:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html,
body {
  background: rgba(246, 241, 255, 0.415) !important;
} */

h1,
h2 {
  font-weight: 600 !important;
}

h3,
h4 {
  font-weight: 500 !important;
}

h5,
h6 {
  font-weight: 400 !important;
}

p,
a,
button,
input,
textarea {
  font-weight: 300 !important;
}

* {
  font-family: "Public Sans", sans-serif !important;
  /* font-family: "Plus Jakarta Sans", sans-serif !important; */
}

button#extra {
  padding: 0 3rem !important;
}

input,
textarea {
  border: none !important;
}

::placeholder {
  opacity: 0.5;
}

textarea {
  border-radius: 20px !important;
}

button,
input {
  font-weight: 500 !important;
  border-radius: 15px !important;
}

.color-animation {
  background-color: #fff; /* Initial color */
  animation: colorChange 1s; /* Adjust duration and timing as needed */
}

@keyframes colorChange {
  0% {
    opacity: 0; /* Initial color */
  }
  100% {
    opacity: 1; /* Final color */
  }
}

#date-block:after {
  content: "";
  height: 10%;
  width: 1px;

  position: absolute;
  right: 0;
  bottom: 0;

  background-color: gray;
}

* {
  -webkit-tap-highlight-color: transparent !important; /* Disable tap highlighting for all elements */
}

/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

/*  Calendaar  */

*::-webkit-scrollbar {
  width: 0px;
  border-radius: 20px; /* Width of the scrollbar */
}

/* Define scrollbar track and thumb styles */
*::-webkit-scrollbar-track {
  background: transparent; /* Background color of the scrollbar track */
}

*::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
}

/* Define scrollbar thumb behavior when hovered */
*::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb when hovered */
}

.fc.fc-media-screen {
  padding: 12px !important;
  background: #f4f4f4;
  border-radius: 20px;
}

.fc-header-toolbar.fc-toolbar {
  padding-bottom: 20px;
  margin-bottom: 15% !important;
  border-bottom: 1px solid #e2e2e2 !important;
}

h2.fc-toolbar-title {
  font-size: 1.2em !important;
}

.fc-toolbar-chunk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4;
}

button[title="This month"] {
  margin: 0 !important;
  font-size: small !important;
}

.fc-button-group {
  gap: 8px;
}

.fc * :not(table, th, td) {
  border: none !important;
}

th.fc-col-header-cell {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

table.fc-scrollgrid.fc-scrollgrid-liquid {
  border-radius: 10px !important;
  overflow: hidden !important;
}

.fc table,
.fc th,
.fc td {
  border-color: #e2e2e2 !important;
}

.fc .fc-daygrid-day.fc-day-today {
  background: none !important;
}

.fc .fc-daygrid-day-top {
  justify-content: space-around;
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame .fc-daygrid-day-number {
  color: #9ccaca;
  font-weight: bolder !important;
  text-decoration: underline;
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame {
  /* border: 2px solid rgb(105, 171, 105) !important; */
  border-radius: 20px !important;
  box-sizing: border-box;
}

.fc-h-event {
  background: none;
  border-radius: 20px;
}
/* .fc-prev-button */
button.fc-button.fc-button-primary:active,
button.fc-button.fc-button-primary:focus,
button.fc-button.fc-button-primary:hover {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* calendar */

div.rdrCalendarWrapper.rdrDateRangeWrapper,
div.rdrCalendarWrapper.rdrDateRangeWrapper div.rdrMonth,
div.rdrCalendarWrapper.rdrDateRangeWrapper div.rdrMonths.rdrMonthsVertical {
  width: 100%;
}
