@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body { */
/* background-color: #eff1ef !important; */
/* } */

* {
  font-family: "Public Sans", sans-serif !important;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

button,
input {
  font-weight: 500 !important;
  border-radius: 999px !important;
}

/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
